## TODO

3 - Mutual information / Information value / Information gain
2 - Combination of especific variables [category x cat, float x float, cat x float]  
4 - First algorithms

4 - First eda template

### Import Data

In [1]:
import importlib
import utils
importlib.reload(utils)

import numpy as np
import pandas as pd

from utils import SandEDA

df = pd.read_csv("./database/UCI_Credit_Card.csv")

# Define the specific dates range
start_date = "2023-06-01"
end_date = "2023-09-30"

safra = []
# Generate a random date within the specified range
for i in range(df.shape[0]):
    safra.append(
        pd.to_datetime(
            np.random.choice(pd.date_range(start=start_date, end=end_date))
        ).strftime("%Y%m")
    )

df["safra"] = safra
df.rename(
    columns={
        "default.payment.next.month": "default",
    },
    inplace=True,
)

### Run tests

In [2]:
sandeda = SandEDA(df, "UCI_Credit_Card", "default", "safra")

In [3]:
res_general = sandeda.calc_general()

In [4]:
res_general

{'dataset_general': {'number_of_rows': 30000,
  'number_of_columns': 26,
  'number_of_cells': 780000,
  'number_of_missing': 0,
  'number_of_unique_types': 3,
  'number_of_zeros': 174353,
  'memory_usage_in_megabytes': 5.95},
 'variables_general': {'variables_names': ['ID',
   'LIMIT_BAL',
   'SEX',
   'EDUCATION',
   'MARRIAGE',
   'AGE',
   'PAY_0',
   'PAY_2',
   'PAY_3',
   'PAY_4',
   'PAY_5',
   'PAY_6',
   'BILL_AMT1',
   'BILL_AMT2',
   'BILL_AMT3',
   'BILL_AMT4',
   'BILL_AMT5',
   'BILL_AMT6',
   'PAY_AMT1',
   'PAY_AMT2',
   'PAY_AMT3',
   'PAY_AMT4',
   'PAY_AMT5',
   'PAY_AMT6',
   'default',
   'safra'],
  'number_of_variables_per_type': {dtype('float64'): 13,
   dtype('int64'): 12,
   dtype('O'): 1},
  'number_of_missing_per_variable': {'ID': 0,
   'LIMIT_BAL': 0,
   'SEX': 0,
   'EDUCATION': 0,
   'MARRIAGE': 0,
   'AGE': 0,
   'PAY_0': 0,
   'PAY_2': 0,
   'PAY_3': 0,
   'PAY_4': 0,
   'PAY_5': 0,
   'PAY_6': 0,
   'BILL_AMT1': 0,
   'BILL_AMT2': 0,
   'BILL_AMT3': 0,
   'BILL_AMT4': 0,
   'BILL_AMT5': 0,
   'BILL_AMT6': 0,
   'PAY_AMT1': 0,
   'PAY_AMT2': 0,
   'PAY_AMT3': 0,
   'PAY_AMT4': 0,
   'PAY_AMT5': 0,
   'PAY_AMT6': 0,
   'default': 0,
   'safra': 0},
  'number_of_zero_per_variable': {'ID': 0,
   'LIMIT_BAL': 0,
   'SEX': 0,
   'EDUCATION': 14,
   'MARRIAGE': 54,
   'AGE': 0,
   'PAY_0': 14737,
   'PAY_2': 15730,
   'PAY_3': 15764,
   'PAY_4': 16455,
   'PAY_5': 16947,
   'PAY_6': 16286,
   'BILL_AMT1': 2008,
   'BILL_AMT2': 2506,
   'BILL_AMT3': 2870,
   'BILL_AMT4': 3195,
   'BILL_AMT5': 3506,
   'BILL_AMT6': 4020,
   'PAY_AMT1': 5249,
   'PAY_AMT2': 5396,
   'PAY_AMT3': 5968,
   'PAY_AMT4': 6408,
   'PAY_AMT5': 6703,
   'PAY_AMT6': 7173,
   'default': 23364,
   'safra': 0}},
 'target_general': {'target_name': 'default',
  'number_of_one': 6636,
  'number_of_unique_values': 2,
  'number_of_missing': 0,
  'number_of_zero': 23364,
  'target_type': 'int64',
  'target_percentage_month_over_month': {'202309': 21.89,
   '202308': 22.04,
   '202307': 21.85,
   '202306': 22.73}}}

In [5]:
res_general['dataset_general']
df_general = pd.DataFrame(list(res_general['dataset_general'].items()), columns=['description', 'value'], index=None)
df_general

                 description      value
0             number_of_rows   30000.00
1          number_of_columns      26.00
2            number_of_cells  780000.00
3          number_of_missing       0.00
4     number_of_unique_types       3.00
5            number_of_zeros  174353.00
6  memory_usage_in_megabytes       5.95

In [6]:
from IPython.display import HTML

# Convert the dictionary to a dataframe and transpose it
html_table = df_general.to_html(index=False)
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>description</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>number_of_rows</td>
      <td>30000.00</td>
    </tr>
    <tr>
      <td>number_of_columns</td>
      <td>26.00</td>
    </tr>
    <tr>
      <td>number_of_cells</td>
      <td>780000.00</td>
    </tr>
    <tr>
      <td>number_of_missing</td>
      <td>0.00</td>
    </tr>
    <tr>
      <td>number_of_unique_types</td>
      <td>3.00</td>
    </tr>
    <tr>
      <td>number_of_zeros</td>
      <td>174353.00</td>
    </tr>
    <tr>
      <td>memory_usage_in_megabytes</td>
      <td>5.95</td>
    </tr>
  </tbody>
</table>

In [7]:
res_general['variables_general']
df_general = pd.DataFrame(list(res_general['variables_general'].items()), columns=['description', 'value'], index=None)
df_general

,description,value
0,variables_names,"[ID, LIMIT_BAL, SEX, EDUCATION, MARRIAGE, AGE,..."
1,number_of_variables_per_type,"{float64: 13, int64: 12, object: 1}"
2,number_of_missing_per_variable,"{'ID': 0, 'LIMIT_BAL': 0, 'SEX': 0, 'EDUCATION..."
3,number_of_zero_per_variable,"{'ID': 0, 'LIMIT_BAL': 0, 'SEX': 0, 'EDUCATION..."

In [8]:
# Extract the number of missing values per variable
missing_per_variable = res_general['variables_general']['number_of_missing_per_variable']

# Calculate the percentage of missing values for each variable
total_rows = res_general['dataset_general']['number_of_rows']
missing_percentage = {var: (count / total_rows) * 100 for var, count in missing_per_variable.items()}

# Count the number of variables with specific percentages of missing values
missing_100 = sum(1 for perc in missing_percentage.values() if perc == 100)
missing_75 = sum(1 for perc in missing_percentage.values() if perc >= 75)
missing_50 = sum(1 for perc in missing_percentage.values() if perc >= 50)
missing_25 = sum(1 for perc in missing_percentage.values() if perc >= 25)
missing_0 = sum(1 for perc in missing_percentage.values() if perc == 0)

# Extract the number of zero values per variable
zero_per_variable = res_general['variables_general']['number_of_zero_per_variable']

# Calculate the percentage of zero values for each variable
zero_percentage = {var: (count / total_rows) * 100 for var, count in zero_per_variable.items()}

# Count the number of variables with specific percentages of zero values
zero_100 = sum(1 for perc in zero_percentage.values() if perc == 100)
zero_75 = sum(1 for perc in zero_percentage.values() if perc >= 75)
zero_50 = sum(1 for perc in zero_percentage.values() if perc >= 50)
zero_25 = sum(1 for perc in zero_percentage.values() if perc >= 25)
zero_0 = sum(1 for perc in zero_percentage.values() if perc == 0)

# Extract the number of variables that are float or int and the number that are not
num_float_int = sum(value for dtype, value in res_general['variables_general']['number_of_variables_per_type'].items() if dtype in ['float32', 'int32', 'float64', 'int64'])
num_not_float_int = res_general['dataset_general']['number_of_columns'] - num_float_int

# Create a dataframe to store the results
summary_df = pd.DataFrame(
    {
        "description": ["missing 100% -> 0%", "zero 100% -> 0%", "number_of_continuous", "number_of_not_continuous"],
        "value": [[missing_100, missing_75, missing_50, missing_25, missing_0], [zero_100, zero_75, zero_50, zero_25, zero_0], num_float_int, num_not_float_int],
    }
)

summary_df

                description             value
0        missing 100% -> 0%  [0, 0, 0, 0, 26]
1           zero 100% -> 0%   [0, 1, 6, 7, 5]
2      number_of_continuous                25
3  number_of_not_continuous                 1

In [9]:
from IPython.display import HTML

# Convert the dictionary to a dataframe and transpose it
html_table = summary_df.to_html(index=False)
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>description</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>missing 100% -&gt; 0%</td>
      <td>[0, 0, 0, 0, 26]</td>
    </tr>
    <tr>
      <td>zero 100% -&gt; 0%</td>
      <td>[0, 1, 6, 7, 5]</td>
    </tr>
    <tr>
      <td>number_of_continuous</td>
      <td>25</td>
    </tr>
    <tr>
      <td>number_of_not_continuous</td>
      <td>1</td>
    </tr>
  </tbody>
</table>

In [10]:
target_percentage = (res_general['target_general']['number_of_one'] / (res_general['target_general']['number_of_zero'] + res_general['target_general']['number_of_one'])) * 100

In [11]:
res_general['target_general']['target_name']

'default'

In [12]:
res_general['target_general']['target_percentage_month_over_month']

{'202309': 21.89, '202308': 22.04, '202307': 21.85, '202306': 22.73}

In [13]:

import pandas as pd
import altair as alt
from altair_saver import save

In [14]:
# Extract the month-over-month target percentage data
target_percentage_mom = res_general['target_general']['target_percentage_month_over_month']

# Convert the dictionary to a dataframe for plotting
df_plot = pd.DataFrame({
    'Date': list(target_percentage_mom.keys()),
    '%': list(target_percentage_mom.values())
})

# Create the bar plot using Altair
chart = alt.Chart(df_plot).mark_bar(color='skyblue').encode(
    x=alt.X('Date', sort='ascending'),
    y=alt.Y('%')
).properties(
    width=100,
    height=100
).configure_axis(
    labelAngle=45
).configure_title(
    fontSize=10
).interactive(False)  # Disable interactive features

# Save the chart as an HTML file
save(chart, 'chart.html')

In [15]:
promising_features = sandeda.promising_features()

In [16]:
variables_estability = sandeda.variables_estability()

In [17]:
# Extract the ips_results and ks_results
ips_results = variables_estability['ips_results']
ks_results = variables_estability['ks_results']

# Get the top 5 variables with the highest ips_results
top_ips_vars = sorted(ips_results.items(), key=lambda x: max(x[1].values()), reverse=True)[:5]
# Get the top 5 variables with the highest ks_results
top_ks_vars = sorted(ks_results.items(), key=lambda x: max(x[1].values()), reverse=True)[:5]

# Transform the top ips results into a dataframe
df_top_ips = pd.DataFrame({
    'Variable': [var for var, _ in top_ips_vars],
    'Max IPS': [max(value.values()) for _, value in top_ips_vars]
})

# Transform the top ks results into a dataframe
df_top_ks = pd.DataFrame({
    'Variable': [var for var, _ in top_ks_vars],
    'Max KS': [max(value.values()) for _, value in top_ks_vars]
})

In [18]:
from IPython.display import HTML

# Convert the dictionary to a dataframe and transpose it
html_table = df_top_ips.to_html(index=False)
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Variable</th>
      <th>Max IPS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>safra</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>

In [19]:
from IPython.display import HTML

# Convert the dictionary to a dataframe and transpose it
html_table = df_top_ks.to_html(index=False)
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Variable</th>
      <th>Max KS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ID</td>
      <td>0.008851</td>
    </tr>
    <tr>
      <td>LIMIT_BAL</td>
      <td>0.008851</td>
    </tr>
    <tr>
      <td>SEX</td>
      <td>0.008851</td>
    </tr>
    <tr>
      <td>EDUCATION</td>
      <td>0.008851</td>
    </tr>
    <tr>
      <td>MARRIAGE</td>
      <td>0.008851</td>
    </tr>
  </tbody>
</table>

In [20]:
promising_features
# Extract the top 5 variables with the highest IV values
iv_values = promising_features['iv']['Information Value']
top_iv_vars = sorted(iv_values.items(), key=lambda x: x[1], reverse=True)[:5]

# Transform the top IV results into a dataframe
df_top_iv = pd.DataFrame({
    'Variable': [var for var, _ in top_iv_vars],
    'IV': [value for _, value in top_iv_vars]
})

# Extract the top 5 variables with the highest MI values
mi_values = promising_features['mi']
top_mi_vars = sorted(mi_values.items(), key=lambda x: x[1], reverse=True)[:5]

# Transform the top MI results into a dataframe
df_top_mi = pd.DataFrame({
    'Variable': [var for var, _ in top_mi_vars],
    'MI': [value for _, value in top_mi_vars]
})

In [21]:
from IPython.display import HTML

# Convert the dictionary to a dataframe and transpose it
html_table = df_top_iv.to_html(index=False)
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Variable</th>
      <th>IV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PAY_0</td>
      <td>0.915440</td>
    </tr>
    <tr>
      <td>PAY_5</td>
      <td>0.478066</td>
    </tr>
    <tr>
      <td>PAY_4</td>
      <td>0.476004</td>
    </tr>
    <tr>
      <td>PAY_3</td>
      <td>0.475338</td>
    </tr>
    <tr>
      <td>PAY_6</td>
      <td>0.434847</td>
    </tr>
  </tbody>
</table>

In [22]:
from IPython.display import HTML

# Convert the dictionary to a dataframe and transpose it
html_table = df_top_mi.to_html(index=False)
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Variable</th>
      <th>MI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PAY_0</td>
      <td>0.074105</td>
    </tr>
    <tr>
      <td>PAY_2</td>
      <td>0.050273</td>
    </tr>
    <tr>
      <td>PAY_3</td>
      <td>0.039246</td>
    </tr>
    <tr>
      <td>PAY_4</td>
      <td>0.034448</td>
    </tr>
    <tr>
      <td>PAY_5</td>
      <td>0.031303</td>
    </tr>
  </tbody>
</table>

In [23]:
variables_espec = sandeda.variables_espec()

In [24]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,safra
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1,202309
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,202309
2,3,90000.0,2,2,2,34,0,0,0,0,...,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,202309
3,4,50000.0,2,2,1,37,0,0,0,0,...,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,202308
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,202307

In [25]:
hist_var = variables_espec['BILL_AMT6']['histogram']
decil_var = variables_espec['BILL_AMT6']['decil']

del variables_espec['BILL_AMT6']['histogram'], variables_espec['BILL_AMT6']['decil']

variables_espec['BILL_AMT6']

{'descriptive_statistics': {'variable_type': 'float64',
  'number_of_unique_values': 20604,
  'number_of_missing': 0,
  'number_of_zeros': 4020,
  'sum': 1166152812.0,
  'mean': 38871.76,
  'median': 17071.0,
  'std': 59554.11},
 'quantile_statistics': {'min': -339603.0,
  '5%': 17071.0,
  '25%': 1256.0,
  '50%': 17071.0,
  '75%': 49198.25,
  '95%': 161912.0,
  'max': 961664.0}}

In [26]:
hist_var

{Interval(-1273.58, 24751.76, closed='right'): 17651,
 Interval(24751.76, 50777.1, closed='right'): 5011,
 Interval(50777.1, 76802.44, closed='right'): 2148,
 Interval(76802.44, 102827.78, closed='right'): 1621,
 Interval(102827.78, 128853.12, closed='right'): 996,
 Interval(128853.12, 154878.46, closed='right'): 773,
 Interval(154878.46, 180903.8, closed='right'): 507,
 Interval(180903.8, 206929.14, closed='right'): 396,
 Interval(206929.14, 232954.48, closed='right'): 203,
 Interval(-27298.92, -1273.58, closed='right'): 147,
 Interval(232954.48, 258979.82, closed='right'): 145,
 Interval(258979.82, 285005.16, closed='right'): 106,
 Interval(285005.16, 311030.5, closed='right'): 90,
 Interval(311030.5, 337055.84, closed='right'): 50,
 Interval(337055.84, 363081.18, closed='right'): 44,
 Interval(363081.18, 389106.52, closed='right'): 24,
 Interval(415131.86, 441157.2, closed='right'): 21,
 Interval(389106.52, 415131.86, closed='right'): 21,
 Interval(467182.54, 493207.88, closed='right'): 11,
 Interval(441157.2, 467182.54, closed='right'): 8,
 Interval(493207.88, 519233.22, closed='right'): 8,
 Interval(-53324.26, -27298.92, closed='right'): 8,
 Interval(-79349.6, -53324.26, closed='right'): 2,
 Interval(519233.22, 545258.56, closed='right'): 2,
 Interval(545258.56, 571283.9, closed='right'): 1,
 Interval(675385.26, 701410.6, closed='right'): 1,
 Interval(-340904.268, -313577.66, closed='right'): 1,
 Interval(-157425.62, -131400.28, closed='right'): 1,
 Interval(935638.66, 961664.0, closed='right'): 1,
 Interval(-209476.3, -183450.96, closed='right'): 1,
 Interval(-105374.94, -79349.6, closed='right'): 1,
 Interval(-313577.66, -287552.32, closed='right'): 0,
 Interval(-131400.28, -105374.94, closed='right'): 0,
 Interval(-287552.32, -261526.98, closed='right'): 0,
 Interval(-235501.64, -209476.3, closed='right'): 0,
 Interval(-261526.98, -235501.64, closed='right'): 0,
 Interval(-183450.96, -157425.62, closed='right'): 0,
 Interval(597309.24, 623334.58, closed='right'): 0,
 Interval(623334.58, 649359.92, closed='right'): 0,
 Interval(649359.92, 675385.26, closed='right'): 0,
 Interval(701410.6, 727435.94, closed='right'): 0,
 Interval(571283.9, 597309.24, closed='right'): 0,
 Interval(727435.94, 753461.28, closed='right'): 0,
 Interval(753461.28, 779486.62, closed='right'): 0,
 Interval(805511.96, 831537.3, closed='right'): 0,
 Interval(779486.62, 805511.96, closed='right'): 0,
 Interval(831537.3, 857562.64, closed='right'): 0,
 Interval(857562.64, 883587.98, closed='right'): 0,
 Interval(883587.98, 909613.32, closed='right'): 0,
 Interval(909613.32, 935638.66, closed='right'): 0}

In [27]:
len(df['BILL_AMT6'].unique())

20604

In [34]:
df_var_stats = pd.DataFrame({'description' : variables_espec['BILL_AMT6']['descriptive_statistics'].keys(), "value" : variables_espec['BILL_AMT6']['descriptive_statistics'].values()})
df_var_stats

               description         value
0            variable_type       float64
1  number_of_unique_values         20604
2        number_of_missing             0
3          number_of_zeros          4020
4                      sum  1166152812.0
5                     mean      38871.76
6                   median       17071.0
7                      std      59554.11

In [35]:
from IPython.display import HTML

# Convert the dictionary to a dataframe and transpose it
html_table = df_var_stats.to_html(index=False)
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>description</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>variable_type</td>
      <td>float64</td>
    </tr>
    <tr>
      <td>number_of_unique_values</td>
      <td>20604</td>
    </tr>
    <tr>
      <td>number_of_missing</td>
      <td>0</td>
    </tr>
    <tr>
      <td>number_of_zeros</td>
      <td>4020</td>
    </tr>
    <tr>
      <td>sum</td>
      <td>1166152812.0</td>
    </tr>
    <tr>
      <td>mean</td>
      <td>38871.76</td>
    </tr>
    <tr>
      <td>median</td>
      <td>17071.0</td>
    </tr>
    <tr>
      <td>std</td>
      <td>59554.11</td>
    </tr>
  </tbody>
</table>

In [32]:
df_var_stats = pd.DataFrame({'description' : variables_espec['BILL_AMT6']['quantile_statistics'].keys(), "value" : variables_espec['BILL_AMT6']['quantile_statistics'].values()})
df_var_stats

  description      value
0         min -339603.00
1          5%   17071.00
2         25%    1256.00
3         50%   17071.00
4         75%   49198.25
5         95%  161912.00
6         max  961664.00

In [33]:
from IPython.display import HTML

# Convert the dictionary to a dataframe and transpose it
html_table = df_var_stats.to_html(index=False)
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>description</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>min</td>
      <td>-339603.00</td>
    </tr>
    <tr>
      <td>5%</td>
      <td>17071.00</td>
    </tr>
    <tr>
      <td>25%</td>
      <td>1256.00</td>
    </tr>
    <tr>
      <td>50%</td>
      <td>17071.00</td>
    </tr>
    <tr>
      <td>75%</td>
      <td>49198.25</td>
    </tr>
    <tr>
      <td>95%</td>
      <td>161912.00</td>
    </tr>
    <tr>
      <td>max</td>
      <td>961664.00</td>
    </tr>
  </tbody>
</table>

In [31]:
if variables_espec['BILL_AMT6']['number_of_unique_values'] <= 50:
    # Convert the histogram data to a dataframe
    hist_data = pd.DataFrame({
        'Interval': list(hist_var.keys()),
        'Count': list(hist_var.values())
    })
else:
    hist_data = pd.DataFrame({
        'Interval': [f"{interval.left:.1f}" for interval in hist_var.keys()],
        'Count': list(hist_var.values())
    })

# Create the bar plot using Altair
hist_chart = alt.Chart(hist_data).mark_bar().encode(
    x=alt.X('Interval', title='', sort=None, axis=alt.Axis(labels=True, labelOverlap=True, labelFontSize=9)),
    y=alt.Y('Count', title='', axis=alt.Axis(labels=False))
).properties(
    width=200,
    height=150
).configure_axis(
    labelAngle=45
).configure_title(
    fontSize=10
).interactive(False)  # Disable interactive features

# Set embed options to disable actions
alt.renderers.set_embed_options(actions=False)

# Save the chart as an HTML file
save(hist_chart, 'chart.html')
hist_chart

KeyError: 'number_of_unique_values'

In [ ]:

hist_data = pd.DataFrame({
    'Decil': list(decil_var.index),
    'Target': list(decil_var.values)
})

In [45]:

hist_data = pd.DataFrame({
    'Decil': list(decil_var.index),
    'Target': list(decil_var.values)
})


# Create the bar plot using Altair
hist_chart = alt.Chart(hist_data).mark_bar().encode(
    x=alt.X('Decil', title='', sort=None, axis=alt.Axis(labels=True, labelOverlap=True, labelFontSize=9)),
    y=alt.Y('Target', title='', axis=alt.Axis(labels=False))
).properties(
    width=200,
    height=150
).configure_axis(
    labelAngle=45
).configure_title(
    fontSize=10
).interactive(False)  # Disable interactive features

# Set embed options to disable actions
alt.renderers.set_embed_options(actions=False)

# Save the chart as an HTML file
save(hist_chart, 'chart.html')
hist_chart

alt.Chart(...)