In [20]:
import pandas as pd
import numpy as np

df = pd.read_csv('./database/UCI_Credit_Card.csv')

In [ ]:
class SandEDA():
    """
    A class used to perform exploratory data analysis (EDA) on a given dataset.
    Attributes
    ----------
    df : pandas.DataFrame
        The dataset to be analyzed.
    df_name : str
        The name of the dataset.
    target_name : str
        The name of the target variable in the dataset.
    target_type : str
        The data type of the target variable.
    Methods
    -------
    dataset_general():
        Provides general information about the dataset.
    variables_general():
        Provides general information about the variables in the dataset.
    target_general():
        Provides general information about the target variable.
    """
    """
    Parameters
    ----------
    df : pandas.DataFrame
        The dataset to be analyzed.
    df_name : str
        The name of the dataset.
    target_name : str
        The name of the target variable in the dataset.
    """
    
    def __init__(self, df, df_name, target_name):
        self.df = df
        self.df_name = df_name
        self.target_name = target_name
        self.target_type = df[target_name].dtype.astype(str)

    def dataset_general(self):
        return 

    def variables_general(self):
        return 

    def target_general(self):
        return

In [ ]:
df_data = {
        'dataset_general' : {
            'number_of_rows': df.shape[0],
            'number_of_columns': df.shape[1],
            'number_of_cells': df.size,
            'number_of_missing': int(df.isnull().sum().sum()),
            'number_of_unique_types': int(df.dtypes.value_counts().count()),
            'number_of_zeros': int((df == 0).sum().sum()),
            'memory_usage_in_megabytes': float(round(df.memory_usage().sum() / 1024 ** 2, 2))},
        'variables_general' : {
            'variables_names': df.columns.tolist(),
            'number_of_variables_per_type': df.dtypes.astype(str).value_counts().to_dict(),
            'number_of_missing_per_variable': df.isnull().sum().to_dict(),
            'number_of_zero_per_variable': (df == 0).sum().to_dict()},
        'target_general': {
            'target_name': target_name,
            'number_of_unique_values': int(df[target_name].nunique()),
            'number_of_missing': int(df[target_name].isnull().sum()),
            'number_of_zero': int((df[target_name] == 0).sum()),
            'target_type': df[target_name].dtype},
        'dataset_time' : {
        },
        'variable_time': {
        },
        'target_time': {
        }
    }

In [ ]:
df_data['dataset_stats']['unique_data_types'] = int(df.dtypes.value_counts().count())

np.int64(2)

In [29]:
data_dict

{'Dataset Statistics': {'Number of rows': 30000,
  'Number of columns': 25,
  'Missing values': 0,
  'Number of classes': 2,
  'Variable types': {dtype('float64'): 13, dtype('int64'): 12},
  'Missing cells per column': {'ID': 0,
   'LIMIT_BAL': 0,
   'SEX': 0,
   'EDUCATION': 0,
   'MARRIAGE': 0,
   'AGE': 0,
   'PAY_0': 0,
   'PAY_2': 0,
   'PAY_3': 0,
   'PAY_4': 0,
   'PAY_5': 0,
   'PAY_6': 0,
   'BILL_AMT1': 0,
   'BILL_AMT2': 0,
   'BILL_AMT3': 0,
   'BILL_AMT4': 0,
   'BILL_AMT5': 0,
   'BILL_AMT6': 0,
   'PAY_AMT1': 0,
   'PAY_AMT2': 0,
   'PAY_AMT3': 0,
   'PAY_AMT4': 0,
   'PAY_AMT5': 0,
   'PAY_AMT6': 0,
   'default.payment.next.month': 0},
  'Data types': {'ID': dtype('int64'),
   'LIMIT_BAL': dtype('float64'),
   'SEX': dtype('int64'),
   'EDUCATION': dtype('int64'),
   'MARRIAGE': dtype('int64'),
   'AGE': dtype('int64'),
   'PAY_0': dtype('int64'),
   'PAY_2': dtype('int64'),
   'PAY_3': dtype('int64'),
   'PAY_4': dtype('int64'),
   'PAY_5': dtype('int64'),
   'PAY_6': dtype('int64'),
   'BILL_AMT1': dtype('float64'),
   'BILL_AMT2': dtype('float64'),
   'BILL_AMT3': dtype('float64'),
   'BILL_AMT4': dtype('float64'),
   'BILL_AMT5': dtype('float64'),
   'BILL_AMT6': dtype('float64'),
   'PAY_AMT1': dtype('float64'),
   'PAY_AMT2': dtype('float64'),
   'PAY_AMT3': dtype('float64'),
   'PAY_AMT4': dtype('float64'),
   'PAY_AMT5': dtype('float64'),
   'PAY_AMT6': dtype('float64'),
   'default.payment.next.month': dtype('int64')},
  'Number of Unique Values': {'ID': 30000,
   'LIMIT_BAL': 81,
   'SEX': 2,
   'EDUCATION': 7,
   'MARRIAGE': 4,
   'AGE': 56,
   'PAY_0': 11,
   'PAY_2': 11,
   'PAY_3': 11,
   'PAY_4': 11,
   'PAY_5': 10,
   'PAY_6': 10,
   'BILL_AMT1': 22723,
   'BILL_AMT2': 22346,
   'BILL_AMT3': 22026,
   'BILL_AMT4': 21548,
   'BILL_AMT5': 21010,
   'BILL_AMT6': 20604,
   'PAY_AMT1': 7943,
   'PAY_AMT2': 7899,
   'PAY_AMT3': 7518,
   'PAY_AMT4': 6937,
   'PAY_AMT5': 6897,
   'PAY_AMT6': 6939,
   'default.payment.next.month': 2},
  'Number of Zeros': {'ID': 0,
   'LIMIT_BAL': 0,
   'SEX': 0,
   'EDUCATION': 14,
   'MARRIAGE': 54,
   'AGE': 0,
   'PAY_0': 14737,
   'PAY_2': 15730,
   'PAY_3': 15764,
   'PAY_4': 16455,
   'PAY_5': 16947,
   'PAY_6': 16286,
   'BILL_AMT1': 2008,
   'BILL_AMT2': 2506,
   'BILL_AMT3': 2870,
   'BILL_AMT4': 3195,
   'BILL_AMT5': 3506,
   'BILL_AMT6': 4020,
   'PAY_AMT1': 5249,
   'PAY_AMT2': 5396,
   'PAY_AMT3': 5968,
   'PAY_AMT4': 6408,
   'PAY_AMT5': 6703,
   'PAY_AMT6': 7173,
   'default.payment.next.month': 23364},
  'Total Size in Memory (MB)': np.float64(5.722171783447266)}}

In [19]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [17]:
data_dict['Dataset Statistics']['Number of rows']

30000

In [18]:
data_dict['Dataset Statistics']['Variable types']

{dtype('float64'): 13, dtype('int64'): 12}